<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
</head>

<body class="mainBody">

  <div class="cortina"></div>

  <header class="mainHeader">
    <%- include("partials/header") %>
  </header>

  <%- include("partials/desplegable") %>

  <div class="mainContainer">

    <div class="menuSide">
      <input type="text" id="search-bar" placeholder="Buscar en la colección...">

      <p>Filtrar por géneros: </p>
      <div class="button-group">
        <button>Acción</button>
        <button>Drama</button>
        <button>Comedia</button>
      </div>
      <button class="reset-button">Reset</button>

    </div>
    <div class="movieSide">
      <h1>Tus peliculas</h1>
      <div class="collectionContainer">
        <% movieArray.forEach(item => { %>
        <figure class="peliculaMain">
          <a href="/pelicula/<%= item.id %>" id="<%= item.id %>"><img src="<%= item.img %>" alt="<%= item.title %>"></a>
          <figcaption><%= item.title %> <span>(<%=item.year %>)</span></figcaption>
        </figure>
        <% }) %>
      </div>
    </div>
  </div>
  <script src="/scripts/script.js"> </script>
</body>

</html>