<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
</head>

<body class="moviePageBody">
  <div class="menuDesplegable">
    <ul>
      <li> Bienvenido, <%= userActivo.mail %> </li>
      <li> Añadir Pelicula </li>

    </ul>
    <a href="/terminateSession">
      <ul class="closeSession">
        <li><img src="images/Iconos/cerrarSesion.png" width="8%">Cerrar Sesión</li>
      </ul>
    </a>
  </div>

  <div class="cortina"></div>

  <header class="mainHeader">
    <h1>BingeWatch</h1>
    <div class="headerRight">
      <h2><%= userActivo.mail %></h2>
      <img src="<%= userActivo.pfp %>" id="imagenUsuario" alt="<%= userActivo.mail %>">
    </div>
  </header>
  <img src="<%= movieItem.img %>" alt="<%= movieItem.title %>">
  <p>
  <h2><%= movieItem.title %> (<%= movieItem.year %>)</h2>
  </p>
  <p>Genero: <%= movieItem.genre %></p>
  <p>Summary: <%= movieItem.summary %></p>
  <p>
    <% movieItem.actors.forEach(actor => { %>
    <button class="actorButton"><%= actor %></button>
    <% }) %>

  </p>
  <footer>
    <%- include('partials/footer') %>
  </footer>
  
  <script src="/scripts/script.js"> </script>
</body>

</html>
