<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head") %>
</head>

<body class="moviePageBody">
  <%- include("partials/desplegable") %>

  <div class="cortina"></div>

  <header class="mainHeader">
    <%- include("partials/header") %>
  </header>

  <div class="movieContainer">
    <div class="posterContainer">
      <p><a href="/mainPage"> <span style="text-decoration: underline;">Tu colección</span> </a> > <%= movieItem.title %> </p>
      <img src="<%= movieItem.img %>" alt="<%= movieItem.title %>" class="moviePoster">
      <a href="">
        <p class="trailer"><img src="/images/iconos/youtube.png" width="10%"> Trailer de la pelicula</p>
      </a>
    </div>
    <div class="movieInfo">
      <h2><span class="movieTitle"> <%= movieItem.title %></span><span style="font-size: 1.5rem; font-style: italic; font-weight: normal;">(<%= movieItem.year %>)</span>
        <span style="font-size: 1rem; font-style: italic; font-weight: normal; color: azure;">Genero: <%= movieItem.genre %></span>
      </h2>
      </p>
      <p>
        <% movieItem.actors.forEach(actor => { %>
        <a class="actorButton"><%= actor %></a>
        <% }) %>
      </p>
      <p class="movieSummary"><%= movieItem.summary %></p>
      <table>
        <tr>
          <th>ID Copia</th>
          <th>Plataforma</th>
          <th>Estado</th>
        </tr>
        <% copiesArray.forEach(element => { %>
        <tr>
          <td><%= element.idCopy %></td>
          <td><%= element.tipo %></td>
          <td><%= element.estado %></td>
        </tr>
        <% }) %>
        <tr>
          <td colspan="3" class="newCopy"><a href="/mainPage">+ Añadir Nueva Copia</a></td>
        </tr>
      </table>
    </div>
    <div class="movieReview">
      <div class="rating">
        <h2>¿Que opinas de esta pelicula?</h2>
        <div class="star-rating">
          <span class="star" data-value="1">★</span>
          <span class="star" data-value="2">★</span>
          <span class="star" data-value="3">★</span>
          <span class="star" data-value="4">★</span>
          <span class="star" data-value="5">★</span>
        </div>
      </div>
      <div class="optionsReview">
      <p>Escribir una review</p>
      <p>Compartir tu coleccion</p>
    </div>
    </div>
  </div>


  <script src="/scripts/script.js"> </script>
</body>

</html>